span.bibleRef {
  text-decoration:underline;
  text-decoration-style: dotted;
}
span.verseRefContainer {
  display: inline-block;
  border-style: outset;
}
ul.navBar>li {
  display: inline-block
}
img.church {
  height: auto;
  width: 100%;
  object-fit: contain;
}